{% extends 'AdminPanel.html' %}
{% load static %}
{% block content %}
<div class="card card-custom">
    <div class="card-header flex-wrap border-0 pt-6 pb-0">
        <div class="card-title">
            <h3 class="card-label">Blogs Dashboard 
            <span class="text-muted pt-2 font-size-sm d-block">Edit, Delete or Share!</span></h3>
        </div>
    </div>
    <div class="card-body">
        <div class="mb-7">
            <div class="row align-items-center">
                <div class="col-lg-9 col-xl-8">
                    <div class="row align-items-center">
                        <div class="col-md-4 my-2 my-md-0">
                            <div class="input-icon">
                                <form method="POST" action="{% url 'messages' %}">
                                    {% csrf_token %}
                                    <input type="text" class="form-control" placeholder="Search..." id="kt_datatable_search_query" name="q"/>
                                    <span>
                                        <i class="flaticon2-search-1 text-muted"></i>
                                    </span>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <table class="table">
                <tr class="table-header">
                    <th class="cell">Name</th>
                    <th class="cell">Email</th>
                    <th class="cell">Date</th>
                    <th class="cell">Message</th>
                    <th class="cell">Delete</th>
                </tr>
                {% for a in messages %}
                <tr  class="active">
                    <td>{{a.name}}</td>
                    <td>{{a.email}}</td>
                    <td>{{a.date}}</td>
                    <td>{{a.message|safe}}</td>
                    <td>
                        <h1><a href="{% url 'delete_message' a.id %}"><button class="button button--rhea" role="button" style="background-color: rgb(193, 53, 95); color: aliceblue; border: 0; width: 2dvi; border-radius: 5px;">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                                <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6Z"/>
                                <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1ZM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118ZM2.5 3h11V2h-11v1Z"/>
                            </svg>
                        </button></a></h1>
                    </td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
</div>
{% endblock content %}